<footer class="footer">
  <!--<small>-->
    <!--<a href="http://www.tkxel.com/usa">www.tkxel.com/usa</a>-->
  <!--</small>-->
  <!--<nav>-->
    <!--<ul>-->
      <!--<li><%#= link_to "About",   '#' %></li>-->
      <!--<li><%#= link_to "Contact", '#' %></li>-->
      <!--<li><%#= link_to "News", '#' %></li>-->
    <!--</ul>-->
  <!--</nav>-->
</footer>