<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Queen Bee Consumer", "/", id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">News</a></li>
          <!--<li><a href="#">Help</a></li>-->
          <!--<li><a href="#">Sign in</a></li>-->
        </ul>
      </nav>
    </div>
  </div>
</header>